#composite {
    height: 200px;
    width: 150px;
}

.list {
    height: 100%;
    overflow-y: auto;
}

.slidingItem {
    height: 38px;
    border: 1px solid #4ea6ea;
    width: 100px;
    background-color: white;
}